{{wtf-navbar}}

<main role="main" class="container mx-auto px-4 py-4">
  {{outlet}}
</main>

<footer role="contentinfo">
  <p>&copy;2019 ZooShelf, all rights reserved. <a href="mailto:team@zooshelf.com">Contact Us</a></p>
</footer>
