{{wtf-navbar}}

<main role="main" class="container mx-auto px-4 py-4">
  {{outlet}}
</main>

<footer role="contentinfo">
  <p>&copy;2019 What the Fox, all rights reserved. <a href="mailto:team@foxy.com">Contact WTF</a></p>
</footer>