{{wtf-img-card imgName="blackbears.jpg" title="Black Bears"}}


<p class="page-text">
Black bears are very opportunistic eaters. Most of their diet consists of grasses, roots, berries, and insects. They will also eat fish and mammals—including carrion—and easily develop a taste for human foods and garbage.</p>