<h2>Quick Facts</h2><br>

<p>The red fox is the most common and widespread fox species in the world, found throughout most of the United States.</p>
<br>
<p>These animals are very social and live flexible lives. They are
found all over the world — in North America, Europe, Asia and North Africa — and call a wide range of terrains their home. </p>
<br>
<p>They also eat a greatly varied diet.</p>
<br>
<p>Most foxes are around the same size as medium-sized dogs.</p>
<br>
<p>Their tails can add an additional 12 to 22 inches (30 to 56 cm) to their length. </p>
<br>
<br>
<p>Foxes usually live in forested areas, though they are also found in mountains, grasslands and deserts. </p>
<br>
<p>They make their homes, called dens, by digging burrows in the ground.</p>
<br>
<p>Foxes are very social creatures that live in packs. </p>
<br>
<p>Male foxes are known as dogs, tods or reynards, and females are called vixens.</p>
<br>
<p>These mammals like to hunt at night and are nocturnal. This means that they sleep during the day. </p>
<br>
<p>Foxes have great eyesight. They can see just as well as a cat.</p>
<br>
<p>Foxes are also very fast. They can run up to 45 mph (72 km/h). That is almost as fast as the blackbuck antelope, one of the world's fastest animals!</p>
<br>
<p>Foxes are omnivores. This means that they eat meat and vegetation. </p>
<br>
<p>Foxes can eat up to several pounds of food a day. </p>
<br>
<p>Fox babies are called pups. .</p>
<br>
<p>Foxes have only one mate for life. They also take on nannies to help with their pups. </p>
<br>
<br>
<br>
<p>Foxes can identify each other's voices, just like humans.</p>
<br>
<p>Foxes have excellent hearing. They can hear low-frequency sounds and rodents digging underground.</p>
<br>