{{wtf-img-card imgName="foxes.jpg" title="Foxes"}}

<p class="page-text">

Foxes are very social creatures that live in packs. They make their homes, called dens, by digging burrows in the ground. Foxes can identify each other's voices just like humans!
</p>