
<div class="flex">
<div class="w-1/5">
Welcome to ZooShelf! <br>
We’re here to help you learn fun facts about the most exciting animals in our environment!

<br>Want to see your favorite animal included on ZooShelf? Send in a brief sentence and photo of your animal to <a href="mailto:staff@zooshelf.com">mailto:staff@zooshelf.com</a>
</div>
</div>