
<div class="flex">
<div class="w-1/5">
<img class="" src="whathefoxlogo.png" >
</div>

<div class="w-4/5">
<h1>Welcome to What the Fox!!</h1>
<h2>WTF is your kid-friendly one-stop-shop for all the foxy facts!</h2>
<p>
From school projects to last minute presentations or essays, we’ve got you covered!
Great resources like:
</p>

<ul>
<li>Fox facts</li>
<li>Fox videos</li>
<li>Fox photos</li>
<li>Fox music</li>
</ul>
</div>
</div>
