{{wtf-img-card imgName="rams.jpg" title="Ram"}}

<p class="page-text">
  Sheep are four legged mammals, typically raised on farms around the world for the production of wool, milk, and meat. Sheep are gentle stupid beings that eat trash like stupid vagrants.
</p>