<img class="page-image" src="/images/sealions.jpg" />

<p class="page-text">
  There are seven different species of sea lion. They are part of a group of animals called “pinnipeds” which means that the sea lion has a winged foot.
</p>